// (til dine variabler som farver, skrifttyper osv.)

// colors
$color__lighter-gray: #f8f9fa;
$color__light-gray: #b6b5b4;
$color__gray: #78787d;
$color__white: #ffffff;
$color__blue-gray: #343a40;

